// fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$fonts: 'Tsukimi Rounded', sans-serif;
$colorWhite: #ffffff;
$colorBlack: #000000;
$bgColor: #131313;
$color1: #1e1e1e;
$textColor: #b7b7b7;

$colororange: #0000ff;


// reyting class add
.orange {
    color: #ffea00;
}

.green {
    color: #00ff00;
}

.red {
    color: #ff0000;
}

.disabled {
    opacity: 0.5;
    cursor: auto;
}

// -----------------------------------------
* {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
    word-break: break-word;
    font-family: $fonts;
}

body {
    min-width: 100%;
    min-height: 100vh;
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color: $bgColor;
}

// ------------------------
header {
    position: relative;
    width: 100%;
    height: 87vh;
    padding-bottom: 15px;
    max-height: 640px;
    min-height: 600px;
}

.head-top-cont {
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    color: $colorWhite;
    background-color: #0c0c0c;
    box-shadow: 0 0 25px 0 $colorBlack;
    padding: 10px 50px;
    z-index: 10;
}

.logo {
    transition: 350ms;
    animation: blur 1s ease-out infinite;
    text-shadow: 0px 0px 5px $colorWhite;
    cursor: pointer;

    &:hover {
        text-shadow: 0px 0px 30px $colororange,
    }

    @keyframes blur {
        from {
            text-shadow: 0px 0px 10px $colorWhite,
                0px 0px 25px $colorWhite,
        }
    }
}

.head-top-nav {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.head-top-nav-items {
    text-transform: capitalize;
    margin: 0 5px;
    transition: 250ms;
    color: #bdbcbc;
    cursor: pointer;

    &:hover {
        color: #ffffff;
        filter: drop-shadow(0px 0px 1px);
    }
}

// search animate
.search {
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    width: 24px;
    height: 24px;
    transition: 600ms;
    transform: scale(0.80);
}

.search-close {
    position: absolute;
    right: 0;
    width: 25px;
    height: 100%;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        bottom: -7px;
        right: -3px;
        width: 0;
        height: 10px;
        border: 1px solid #ffffff;
        transform: rotate(-45deg);
        transition: 600ms;
        cursor: pointer;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 15px;
        right: 0px;
        width: 0;
        height: 16px;
        border: 1px solid #ffffff;
        transform: rotate(45deg);
        transition: 350ms;
        opacity: 0;
        cursor: pointer;
    }
}

.search-anime-inp {
    width: 250px;
    height: 30px;
    top: 50px;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 45px;
    transform: scale(1.0);
}

.search-anime-close {
    width: 21px;
    height: 100%;

    &::before {
        bottom: 4px;
        right: 12px;
        height: 16px;
    }

    &::after {
        opacity: 1;
        bottom: 4px;
        right: 11px;
    }
}

.search-btn {
    position: absolute;
    right: 20px;
    top: 1px;
    width: 24px;
    transition: 600ms;
    transform: scale(.10);
    opacity: 0;
    cursor: pointer;
}

.search-btn-active {
    opacity: 1;
    transform: scale(1);
}

.search-inp {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: $colorWhite;
}

// -------------------------

.head-swiper-container {
    height: 100%;
    overflow: hidden;
}

.head-swiper-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;

    bottom: 0;
    margin-bottom: 100px;
}

.head-swiper-wrapper-play-img-cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 350ms;

    img {
        position: absolute;
        width: 35%;
        transform: scale(.30);
        transition: 350ms;
        opacity: 0;
    }
}

.head-swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 239px;
    height: 365px;
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 13px black);
    cursor: pointer;

    &:hover>.head-swiper-wrapper-play-img-cont {
        background-color: #000000b0;
    }

    &:hover>.head-swiper-wrapper-play-img-cont img {
        opacity: 1;
        transform: scale(1.1);
    }

    &:hover>.head-info {
        margin-bottom: 30px;
        opacity: 1;
    }

    &:active>.head-swiper-wrapper-play-img-cont>img {
        opacity: 1;
        transform: scale(1.2);
    }
}

.head-info {
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 100%;
    word-break: break-word;
    transition: 350ms;
    opacity: 0;
}

.head-slide-reyting {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorBlack;
    top: 4px;
    right: 4px;
    border-radius: 100%;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid;
}

.head-info-title {
    text-transform: capitalize;
    margin: 0;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: $colorWhite;
}

.head-swiper-pagination {
    height: 30px;
    bottom: 0;

    &-bullet {
        background: $colorWhite;
        opacity: 0.4;
    }

    &-bullet-active {
        background: $colorWhite;
        opacity: 1;
        transform: scale(1.7);
    }

    .swiper-pagination-bullet {
        border-radius: 0;
        width: 6px;
        height: 10px;
        background-color: $colorWhite;

        &-active {
            background-color: $colorWhite;
        }
    }

    .swiper-pagination-bullet-active {
        transform: scale(1.4);
        transition: 350ms;
    }
}


// ------------------------
.head {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0 5%;

    .head__col1 {
        .head__col1__logo {
            position: relative;
            bottom: 10px;
            cursor: pointer;
            transition: 250ms;

            &:hover {
                color: $colorWhite;
                text-shadow: 0px 0px 10px white;
            }
        }
    }

    .head__col2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.search__cont {
    display: flex;
    align-items: stretch;
    width: fit-content;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    margin-bottom: 10px;

    .searchInp {
        border: none;
        outline: none;
        background: transparent;
        padding: 6px 0px 6px 8px;
        color: $textColor;
    }

    .search__img {
        cursor: pointer;
        padding: 3px 6px;
        width: 30px;
        transition: 150ms;
        display: block;
        image-rendering: pixelated;

        &:hover {
            transform: rotate(-10deg);
        }

        &:active {
            transform: rotate(-10deg) scale(0.9);
        }
    }
}

.head__bottom__slider {
    background-color: $color1;

    .info {
        h5 {
            color: $textColor;
        }
    }
}

.main_films_categories_cont {
    display: flex;
    margin-top: 60px;
}

.right-nav {
    width: 20%;
}

.categories-title {
    color: $colorWhite;
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
    min-width: 120px;
}

.categories {
    display: flex;
    flex-direction: column;
    width: 80%;

    .categories__tag {
        text-align: center;
        min-width: 120px;
        margin-bottom: 10px;
        padding: 5px 5px;
        background-color: $color1;
        color: $colorWhite;
        opacity: 0.7;
        transition: 350ms;
        box-shadow: 0 0 15px 0 $colorBlack;
        cursor: pointer;

        &:hover {
            opacity: 1;
            color: $colorWhite;
            transform: translate(-2px, 2px);
            box-shadow: 1px -1px 5px 0 $colorWhite;
        }
    }

    .categories__tag--active {
        border: 1px solid $colorWhite;
    }
}

.main__section {
    width: 80%;

    .main__section__films {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3%;
    }

    .movie {
        position: relative;
        width: 28%;
        margin: 0px 5px 35px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 0 20px 0 $colorBlack;
        transition: 350ms;
        cursor: pointer;

        img {
            width: 100%;
        }

        .watch__now {
            position: absolute;
            text-align: center;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 250ms;
            background-color: rgb(0 0 0 / 43%);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                transition: 250ms;
                width: 20%;
            }
        }

        .movie-info-reyting {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 10px;
            right: 10px;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            font-size: 13px;
            font-weight: 500;
            background-color: $color1;
            border: 2px solid;
        }

        .movie-info {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 65px;
            width: 100%;
            bottom: 0;
            opacity: 0.9;
        }

        .movie-info-title {
            text-align: center;
            padding: 0 5px;
            color: $colorWhite;
            word-break: break-word;
        }

        &:hover {
            box-shadow: 0 0 20px 0 $colorWhite;
        }

        &:hover>.watch__now {
            opacity: 1;

            &>img {
                transform: scale(1.5);
            }
        }
    }
}

footer {
    padding: 20px 0 50px;

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45px;
        color: $colorWhite;
    }

    .page-prev,
    .page-next {
        display: flex;
        width: 40px;
        background-color: $colorBlack;
        padding: 8px;
        color: $colorWhite;
        cursor: pointer;
    }

    .page-prev img {
        transform: rotate(180deg);
    }

    .current {
        padding: 5px;
        margin: 0 4px;
    }

    .pages {
        padding: 5px;
        margin: 0 4px;
        background-color: $colorBlack;
        border-radius: 3px;
        font-family: system-ui;
        cursor: pointer;
    }

    .pages-active {
        background-color: $textColor;
        color: $colorBlack;
        background-color: $colorWhite;
        font-weight: 600;
    }
}

.overlay {
    display: none;
}

// @media

@media screen and (max-width: 700px) {
    .main_films_categories_cont {
        flex-direction: column-reverse;
        margin: 0;
    }

    .right-nav {
        margin: 20px 0;
        width: 100%;
    }

    .categories-title {
        width: 100%;
    }

    .categories {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 84%;
        margin: 0 auto;

        .categories__tag {
            margin: 5px;
            min-width: auto;
        }
    }

    .main__section {
        width: 100%;
    }

    .main__section .movie {
        justify-content: space-between;
        background-color: $colorBlack;

        .movie-info-title {
            font-size: 11px;
            padding: 3px;
        }
    }
}