@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.orange {
  color: #ffea00;
}

.green {
  color: #00ff00;
}

.red {
  color: #ff0000;
}

.disabled {
  opacity: 0.5;
  cursor: auto;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
  word-break: break-word;
  font-family: "Tsukimi Rounded", sans-serif;
}

body {
  min-width: 100%;
  min-height: 100vh;
  z-index: 10;
  margin: 0;
  padding: 0;
  background-color: #131313;
}

header {
  position: relative;
  width: 100%;
  height: 87vh;
  padding-bottom: 15px;
  max-height: 640px;
  min-height: 600px;
}

.head-top-cont {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  background-color: #0c0c0c;
  box-shadow: 0 0 25px 0 #000000;
  padding: 10px 50px;
  z-index: 10;
}

.logo {
  transition: 350ms;
  animation: blur 1s ease-out infinite;
  text-shadow: 0px 0px 5px #ffffff;
  cursor: pointer;
}
.logo:hover {
  text-shadow: 0px 0px 30px #0000ff;
}
@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #ffffff, 0px 0px 25px #ffffff;
  }
}

.head-top-nav {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.head-top-nav-items {
  text-transform: capitalize;
  margin: 0 5px;
  transition: 250ms;
  color: #bdbcbc;
  cursor: pointer;
}
.head-top-nav-items:hover {
  color: #ffffff;
  filter: drop-shadow(0px 0px 1px);
}

.search {
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  width: 24px;
  height: 24px;
  transition: 600ms;
  transform: scale(0.8);
}

.search-close {
  position: absolute;
  right: 0;
  width: 25px;
  height: 100%;
  cursor: pointer;
}
.search-close::before {
  content: "";
  position: absolute;
  bottom: -7px;
  right: -3px;
  width: 0;
  height: 10px;
  border: 1px solid #ffffff;
  transform: rotate(-45deg);
  transition: 600ms;
  cursor: pointer;
}
.search-close::after {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 0px;
  width: 0;
  height: 16px;
  border: 1px solid #ffffff;
  transform: rotate(45deg);
  transition: 350ms;
  opacity: 0;
  cursor: pointer;
}

.search-anime-inp {
  width: 250px;
  height: 30px;
  top: 50px;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 45px;
  transform: scale(1);
}

.search-anime-close {
  width: 21px;
  height: 100%;
}
.search-anime-close::before {
  bottom: 4px;
  right: 12px;
  height: 16px;
}
.search-anime-close::after {
  opacity: 1;
  bottom: 4px;
  right: 11px;
}

.search-btn {
  position: absolute;
  right: 20px;
  top: 1px;
  width: 24px;
  transition: 600ms;
  transform: scale(0.1);
  opacity: 0;
  cursor: pointer;
}

.search-btn-active {
  opacity: 1;
  transform: scale(1);
}

.search-inp {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
}

.head-swiper-container {
  height: 100%;
  overflow: hidden;
}

.head-swiper-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  margin-bottom: 100px;
}

.head-swiper-wrapper-play-img-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 350ms;
}
.head-swiper-wrapper-play-img-cont img {
  position: absolute;
  width: 35%;
  transform: scale(0.3);
  transition: 350ms;
  opacity: 0;
}

.head-swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 239px;
  height: 365px;
  border-radius: 5px;
  overflow: hidden;
  filter: drop-shadow(0px 0px 13px black);
  cursor: pointer;
}
.head-swiper-slide:hover > .head-swiper-wrapper-play-img-cont {
  background-color: rgba(0, 0, 0, 0.6901960784);
}
.head-swiper-slide:hover > .head-swiper-wrapper-play-img-cont img {
  opacity: 1;
  transform: scale(1.1);
}
.head-swiper-slide:hover > .head-info {
  margin-bottom: 30px;
  opacity: 1;
}
.head-swiper-slide:active > .head-swiper-wrapper-play-img-cont > img {
  opacity: 1;
  transform: scale(1.2);
}

.head-info {
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 100%;
  word-break: break-word;
  transition: 350ms;
  opacity: 0;
}

.head-slide-reyting {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  top: 4px;
  right: 4px;
  border-radius: 100%;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid;
}

.head-info-title {
  text-transform: capitalize;
  margin: 0;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

.head-swiper-pagination {
  height: 30px;
  bottom: 0;
}
.head-swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.4;
}
.head-swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
  transform: scale(1.7);
}
.head-swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 6px;
  height: 10px;
  background-color: #ffffff;
}
.head-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.head-swiper-pagination .swiper-pagination-bullet-active {
  transform: scale(1.4);
  transition: 350ms;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 5% 5% 0 5%;
}
.head .head__col1 .head__col1__logo {
  position: relative;
  bottom: 10px;
  cursor: pointer;
  transition: 250ms;
}
.head .head__col1 .head__col1__logo:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px white;
}
.head .head__col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__cont {
  display: flex;
  align-items: stretch;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  margin-bottom: 10px;
}
.search__cont .searchInp {
  border: none;
  outline: none;
  background: transparent;
  padding: 6px 0px 6px 8px;
  color: #b7b7b7;
}
.search__cont .search__img {
  cursor: pointer;
  padding: 3px 6px;
  width: 30px;
  transition: 150ms;
  display: block;
  image-rendering: pixelated;
}
.search__cont .search__img:hover {
  transform: rotate(-10deg);
}
.search__cont .search__img:active {
  transform: rotate(-10deg) scale(0.9);
}

.head__bottom__slider {
  background-color: #1e1e1e;
}
.head__bottom__slider .info h5 {
  color: #b7b7b7;
}

.main_films_categories_cont {
  display: flex;
  margin-top: 60px;
}

.right-nav {
  width: 20%;
}

.categories-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  width: 80%;
  min-width: 120px;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.categories .categories__tag {
  text-align: center;
  min-width: 120px;
  margin-bottom: 10px;
  padding: 5px 5px;
  background-color: #1e1e1e;
  color: #ffffff;
  opacity: 0.7;
  transition: 350ms;
  box-shadow: 0 0 15px 0 #000000;
  cursor: pointer;
}
.categories .categories__tag:hover {
  opacity: 1;
  color: #ffffff;
  transform: translate(-2px, 2px);
  box-shadow: 1px -1px 5px 0 #ffffff;
}
.categories .categories__tag--active {
  border: 1px solid #ffffff;
}

.main__section {
  width: 80%;
}
.main__section .main__section__films {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
.main__section .movie {
  position: relative;
  width: 28%;
  margin: 0px 5px 35px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 #000000;
  transition: 350ms;
  cursor: pointer;
}
.main__section .movie img {
  width: 100%;
}
.main__section .movie .watch__now {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 250ms;
  background-color: rgba(0, 0, 0, 0.43);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__section .movie .watch__now img {
  transition: 250ms;
  width: 20%;
}
.main__section .movie .movie-info-reyting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  font-size: 13px;
  font-weight: 500;
  background-color: #1e1e1e;
  border: 2px solid;
}
.main__section .movie .movie-info {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65px;
  width: 100%;
  bottom: 0;
  opacity: 0.9;
}
.main__section .movie .movie-info-title {
  text-align: center;
  padding: 0 5px;
  color: #ffffff;
  word-break: break-word;
}
.main__section .movie:hover {
  box-shadow: 0 0 20px 0 #ffffff;
}
.main__section .movie:hover > .watch__now {
  opacity: 1;
}
.main__section .movie:hover > .watch__now > img {
  transform: scale(1.5);
}

footer {
  padding: 20px 0 50px;
}
footer .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  color: #ffffff;
}
footer .page-prev,
footer .page-next {
  display: flex;
  width: 40px;
  background-color: #000000;
  padding: 8px;
  color: #ffffff;
  cursor: pointer;
}
footer .page-prev img {
  transform: rotate(180deg);
}
footer .current {
  padding: 5px;
  margin: 0 4px;
}
footer .pages {
  padding: 5px;
  margin: 0 4px;
  background-color: #000000;
  border-radius: 3px;
  font-family: system-ui;
  cursor: pointer;
}
footer .pages-active {
  background-color: #b7b7b7;
  color: #000000;
  background-color: #ffffff;
  font-weight: 600;
}

.overlay {
  display: none;
}

@media screen and (max-width: 700px) {
  .main_films_categories_cont {
    flex-direction: column-reverse;
    margin: 0;
  }
  .right-nav {
    margin: 20px 0;
    width: 100%;
  }
  .categories-title {
    width: 100%;
  }
  .categories {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 84%;
    margin: 0 auto;
  }
  .categories .categories__tag {
    margin: 5px;
    min-width: auto;
  }
  .main__section {
    width: 100%;
  }
  .main__section .movie {
    justify-content: space-between;
    background-color: #000000;
  }
  .main__section .movie .movie-info-title {
    font-size: 11px;
    padding: 3px;
  }
}/*# sourceMappingURL=main.css.map */