// fonts
$colorWhite: #ffffff;
$colorBlack: #000000;
$bgColor: #131313;
$color1: #1e1e1e;
$textColor: #b7b7b7;

$colororange: #ffb700;

// reyting class add
.orange {
    color: #ffea00;
}

.green {
    color: lawngreen;
}

.red {
    color: #ff0000;
}

.disabled {
    opacity: 0.5;
    cursor: auto;
}

// -----------------------------------------
* {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
    word-break: break-word;
}

body {
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color: $bgColor;
    font-family: 'Inter';
}

// ------------------------
header {
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
    background-size: contain;
    justify-content: flex-end;
    background-position: right top;
    margin-bottom: 250px;
    background-repeat: no-repeat;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(0, 0, 0, 0.30024509803921573) 45%, rgba(255, 255, 255, 0) 100%);
    }
}

.head-top-cont {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    color: $colorWhite;
    background-color: #0c0c0c;
    box-shadow: 0 0 25px 0 $colorBlack;
    padding: 0 25px;
    z-index: 50;
}

.logo {
    font-size: 30px;
    padding: 5px;
    overflow: hidden;
    cursor: pointer;

    h1 {
        font-size: 30px;
        font-weight: 400;
        animation: blur1 10s ease-out infinite;
        font-family: 'Tsukimi Rounded', sans-serif;

        span {
            color: $colororange;
        }
    }

    &:hover {
        text-shadow: 0 0 5px $colororange;
    }
}

.head-top-nav {
    position: relative;
    display: flex;
    align-items: center;
    height: fit-content;
    text-transform: capitalize;
    padding-right: 25px;
}

.head-top-nav-items {
    text-transform: capitalize;
    margin: 0 5px;
    transition: 250ms;
    color: #bdbcbc;
    cursor: pointer;

    &:hover {
        color: $colororange;
    }
}

// search animate
.search {
    position: relative;
    border-radius: 25px;
    border: 2px solid $colororange;
    background-color: $colorBlack;
    width: 22px;
    height: 22px;
    transition: 400ms;
    transform: scale(0.80);
}

.search-close {
    position: absolute;
    right: 0;
    width: 25px;
    height: 100%;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        bottom: -7px;
        right: -3px;
        width: 0;
        height: 10px;
        border: 1px solid $colororange;
        transform: rotate(-45deg);
        transition: 400ms;
        cursor: pointer;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 15px;
        right: 0px;
        width: 0;
        height: 16px;
        border: 1px solid #ffffff;
        transform: rotate(45deg);
        transition: 350ms;
        opacity: 0;
        cursor: pointer;
    }
}

.search-anime-inp {
    width: 250px;
    height: 28px;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 45px;
    transform: scale(1.0);
}

.search-anime-close {
    width: 21px;
    height: 100%;

    &::before {
        bottom: 4px;
        right: 12px;
        height: 16px;
        border-color: $colorWhite;
    }

    &::after {
        opacity: 1;
        bottom: 4px;
        right: 11px;
    }
}

.search-btn {
    position: absolute;
    right: 20px;
    top: 1px;
    width: 24px;
    transition: 400ms;
    transform: scale(0);
    opacity: 0;
    cursor: pointer;
}

.search-btn-active {
    opacity: 1;
    transform: scale(1);
}

.search-inp {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: $colorWhite;
}

// -------------------------

.move_info_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    min-width: 340px;
    height: fit-content;
    margin-top: 120px;
    margin-left: 3%;
    color: white;
    z-index: 15;

    .move_info_cont_title {
        margin-bottom: 25px;
        font-size: 25px;
        transition: 300ms ease-out;
        transform: translateX(-30px);
        opacity: 0;
    }

    .move_info_cont_date {
        margin-bottom: 10px;
        font-size: 16px;
        transition: 400ms ease-out;
        transform: translateX(-40px);
        opacity: 0;
    }

    .move_info_cont_reyting {
        display: flex;
        margin-bottom: 35px;
        transition: 800ms;
        transform: translateX(-30px);
        opacity: 0;

        >img {
            width: 70px;
            margin-left: 8px;
        }
    }

    .reyting_stars_cont {
        position: relative;
        display: flex;
        width: fit-content;
        margin-left: 8px;
        height: 14px;

        img {
            width: fit-content;
        }

        .reyting_stars_bg_width {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $colororange;
            z-index: -1;
        }
    }

    .move_info_cont_row {
        display: flex;
        margin-bottom: 30px;
        color: $colorWhite;
        font-weight: 700;
        transition: 600ms ease-out;
        transform: translateX(-60px);
        opacity: 0;
    }

    .move_info_cont_play {
        display: flex;
        align-items: center;
        background-color: $colororange;
        width: fit-content;
        padding: 8px 16px;
        margin-right: 16px;
        transition: 600ms ease-out;
        cursor: pointer;

        &:hover {
            background-color: #ff8300;
        }

        img {
            width: 22px;
            margin-right: 5px;
        }
    }

    .move_info_cont_date_anim {
        transform: translateX(0);
        opacity: 1;
    }
}

.head-swiper-container {
    position: relative;
    width: 100%;
    height: 135%;
    overflow: hidden;
    z-index: 5;
}

.head-swiper-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    bottom: 0;
    margin-bottom: 75px;
}

// buttons
.swiper-button-prev-unique,
.swiper-button-next-unique {
    position: absolute;
    bottom: 20px;
    z-index: 15;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        clip-path: polygon(30% 0, 100% 50%, 30% 100%, 0% 100%, 70% 50%, 0% 0%);
        transition: 250ms;
        background-color: $colorWhite;
        opacity: 0.6;
    }
}

.swiper-button-next-unique {
    right: 20%;

    &:hover::before {
        opacity: 1;
    }

    &:hover {
        filter: drop-shadow(0 0 2px $colorWhite);
    }

    &:active {
        filter: drop-shadow(0 0 5px $colororange);
    }
}

.swiper-button-prev-unique {
    left: 20%;
    transform: rotate(180deg);

    &:hover::before {
        opacity: 1;
    }

    &:hover {
        filter: drop-shadow(0 0 2px $colororange);
    }

    &:active {
        filter: drop-shadow(0 0 5px $colororange);
    }
}

// -------

.head-swiper-wrapper-play-img-cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    transition: 350ms;

    img {
        position: absolute;
        width: 35%;
        transform: scale(.30);
        transition: 350ms;
        opacity: 0;
    }
}

.head-swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 195px;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 13px black);
    transition: 300ms;
    cursor: pointer;

    &:hover>.head-swiper-wrapper-play-img-cont {
        background-color: #000000b0;
    }

    &:hover>.head-swiper-wrapper-play-img-cont img {
        opacity: 1;
        transform: scale(1.1);
    }

    &:active>.head-swiper-wrapper-play-img-cont>img {
        opacity: 1;
        transform: scale(1.2);
    }
}

.head-swiper-pagination {
    height: 38px;
    bottom: 0;

    &-bullet {
        background-color: $colorWhite;
        opacity: 0.4;
    }

    &-bullet-active {
        background-color: $colorWhite;
        opacity: 1;
        transform: scale(1.7);
    }

    .swiper-pagination-bullet {
        border-radius: 100%;
        width: 8px;
        height: 8px;
        background-color: $colorWhite;

        &-active {
            background-color: $colorWhite;
        }
    }

    .swiper-pagination-bullet-active {
        transform: scale(1.4);
        transition: 350ms;
    }
}


// ------------------------
.head {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0 5%;

    .head__col1 {
        .head__col1__logo {
            position: relative;
            bottom: 10px;
            cursor: pointer;
            transition: 250ms;

            &:hover {
                color: $colorWhite;
                text-shadow: 0px 0px 10px white;
            }
        }
    }

    .head__col2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.search__cont {
    display: flex;
    align-items: stretch;
    width: fit-content;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    margin-bottom: 10px;

    .searchInp {
        border: none;
        outline: none;
        background: transparent;
        padding: 6px 0px 6px 8px;
        color: $textColor;
    }

    .search__img {
        cursor: pointer;
        padding: 3px 6px;
        width: 30px;
        transition: 150ms;
        display: block;
        image-rendering: pixelated;

        &:hover {
            transform: rotate(-10deg);
        }

        &:active {
            transform: rotate(-10deg) scale(0.9);
        }
    }
}

.head__bottom__slider {
    background-color: $color1;

    .info {
        h5 {
            color: $textColor;
        }
    }
}

.main_films_categories_cont {
    display: flex;
    padding: 40px 0;
}

.right-nav {
    width: 20%;
    min-width: 220px;
}

.categories-title {
    color: $colorWhite;
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
    min-width: 120px;
    text-transform: capitalize;
}

.text_2 {
    display: none;
}

.categories {
    display: flex;
    flex-direction: column;
    width: 80%;

    .categories__tag {
        text-align: center;
        min-width: 120px;
        margin-bottom: 10px;
        padding: 5px 5px;
        background-color: $color1;
        color: $colorWhite;
        opacity: 0.7;
        text-transform: capitalize;
        box-shadow: 0 0 15px 0 $colorBlack;
        transition: 350ms;
        cursor: pointer;

        &:hover {
            opacity: 1;
            transform: translate(-2px, 2px);
            box-shadow: 3px -3px 10px 0 $colororange;
            color: $colororange;
        }
    }

    .categories__tag--active {
        border: 1px solid $colororange;
    }
}

.main__section {
    width: 80%;

    .main__section__films {
        width: 100%;
        padding-top: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 3%;
    }

    .movie {
        position: relative;
        width: 25%;
        margin: 0px 10px 35px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 350ms;
        cursor: pointer;

        img {
            width: 100%;
        }

        .watch__now {
            position: absolute;
            text-align: center;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 250ms;
            background-color: rgb(0 0 0 / 43%);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                transition: 250ms;
                width: 20%;
            }
        }

        .movie-info-reyting {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 30px;
            font-size: 13px;
            font-weight: 400;
            border: 1px solid;
        }

        .movie-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            padding-top: 10px;
            opacity: 0.9;
        }

        .movie-info-title {
            font-size: 14px;
            color: $colororange;
            word-break: break-word;
            margin-bottom: 4px;
        }

        .movie-info-subtitle-cont {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 10px;
        }

        .movie-info-paragraph {
            color: $colorWhite;
        }

        &:hover {
            box-shadow: 0 0 5px 0px $colorBlack;
        }

        &:hover>.watch__now {
            opacity: 1;

            &>img {
                transform: scale(1.5);
            }
        }
    }
}

footer {
    padding: 40px 0;
    background-color: $colorBlack;

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45px;
        font-weight: 600;
        color: $colorWhite;
    }

    .page-prev,
    .page-next {
        display: flex;
        width: 40px;
        padding: 8px;
        background-color: $color1;
        color: $colorWhite;
        border-radius: 5px;
        transition: 200ms;
        opacity: 0.6;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .page-prev img {
        transform: rotate(180deg);
    }

    .current {
        padding: 5px;
        margin: 0 4px;
    }

    .pages {
        padding: 5px;
        margin: 0 4px;
        background-color: $color1;
        opacity: 0.6;
        border-radius: 3px;
        transition: 200ms;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .pages-active {
        color: $colorWhite;
        background-color: $colorWhite;
        color: $colorBlack;
        font-weight: 600;
        opacity: 1;
    }
}

.Privacy-Polic-cont {
    width: 90%;
    margin: 50px auto;

    p {
        color: $colorWhite;
        margin-bottom: 20px;
    }

    ul {
        color: $colorWhite;
    }
}

.all-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    .logo {
        padding: 0;
        color: $colorWhite;
        width: fit-content;
    }

    .navigation {
        a {
            color: $textColor;
            margin-left: 5px;
            transition: 100ms;
            margin-left: 5px;
            padding-bottom: 2px;

            &:hover {
                border-bottom: 1px solid;
                color: $colorWhite;
            }
        }
    }
}

.mob_open_close {
    width: 40px;
    display: none;
    transition: 250ms;
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0 0 6px $colorWhite);
    }
}

// @media
@media screen and (max-width: 900px) {
    .main__section__films .movie {
        width: 40%;
    }

    .categories .categories__tag {
        font-size: 13px;
    }

    header {
        background-size: cover;
        background-position: center;
    }

}

@media screen and (max-width: 700px) {
    footer .pages {
        margin: 0 2px;

        &:nth-child(1) {
            display: none;
        }

        &:nth-child(2) {
            display: none;
        }

        &:nth-child(8) {
            display: none;
        }

        &:nth-child(9) {
            display: none;
        }
    }

    .head-swiper-wrapper {
        margin-bottom: 40px;
    }

    header {
        margin-bottom: 140px;
    }

    .move_info_cont,
    header::before {
        display: none;
    }

    .head-top-nav-items {
        font-size: 13px;
    }

    .head-swiper-container {
        height: 122%;
    }

    .swiper-pagination {
        display: none;
    }

    .main__section {
        width: 100%;
    }

    .main_films_categories_cont {
        padding-top: 0;
    }

    .main_films_categories_cont {
        flex-direction: column-reverse;
    }

    .right-nav {
        width: 90%;
        margin: 0 auto 40px;
    }

    .categories-title {
        width: 100%;
        text-align: left;
        margin: 20px 5px;
    }

    .text_1 {
        display: none;
    }

    .text_2 {
        display: block;
    }

    .categories {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: start;

        .categories__tag {
            text-align: left;
            width: inherit;
            min-width: inherit;
            font-size: 13px;
        }
    }
}

// _______---------------------------------------------------------------------
@media screen and (max-width: 700px) {
    header {
        background-size: contain;
        height: 65vh;
    }

    .mob_open_close {
        display: inline-block;
    }

    .head-top-cont {
        padding: 10px 25px;
    }

    .head-top-nav {
        text-transform: capitalize;
        position: absolute;
        flex-direction: column-reverse;
        align-items: flex-end;
        top: 73px;
        right: -400px;
        background-color: #0C0C0C;
        width: 50%;
        min-width: 250px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .all-info {
        align-items: flex-start;
    }

    .head-top-nav-active {
        right: 0px;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 13px;
    }

    .search {
        position: relative;
        top: -5px !important;
        background-color: #0C0C0C;
        max-width: 200px !important;
        margin-bottom: 15px;
    }

    .head-top-nav-items {
        margin-bottom: 10px;
        font-size: 17px;
    }

    .head-swiper-wrapper {
        bottom: 10px
    }

    .head-swiper-slide {
        width: 80px;
        height: 125px;
    }

    .categories {
        .categories__tag {
            font-size: 12px;
            box-shadow: -10px 0 15px $colorBlack;
        }
    }
}

@media screen and (max-width:500px) {
    .categories {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: start;

        .categories__tag {
            width: inherit;
            min-width: inherit;
            font-size: 12px;
        }
    }
}