@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffb700;
}

.videoStylesOff {
  display: none !important;
}

.menu {
  display: none !important;
}

.video-player {
  width: 50%;
  min-width: 650px;
  margin: 0 auto;
}

.top-left_2-xxL {
  position: relative;
  left: 70px !important;
}

.orange {
  color: #ffea00;
}

.green {
  color: lawngreen;
}

.red {
  color: #ff0000;
}

.disabled {
  opacity: 0.5;
  cursor: auto;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
  word-break: break-word;
  font-family: "Tsukimi Rounded", sans-serif;
}

body {
  z-index: 10;
  margin: 0;
  padding: 0;
  background-color: #131313;
}

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 80vh;
  background-size: contain;
  justify-content: flex-end;
  background-position: right top;
  margin-bottom: 250px;
  background-repeat: no-repeat;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 33%, rgba(0, 0, 0, 0.300245098) 45%, rgba(255, 255, 255, 0) 100%);
}

.head-top-cont {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  color: #ffffff;
  background-color: #0c0c0c;
  box-shadow: 0 0 25px 0 #000000;
  padding: 0 25px;
  z-index: 50;
}

.logo {
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
}
.logo h1 {
  font-size: 30px;
  font-weight: 400;
  animation: blur1 10s ease-out infinite;
}
.head-top-nav {
  position: relative;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: capitalize;
  padding-right: 25px;
}

.head-top-nav-items {
  text-transform: capitalize;
  margin: 0 5px;
  transition: 250ms;
  color: #bdbcbc;
  cursor: pointer;
}
.head-top-nav-items:hover {
  color: #ffffff;
  filter: drop-shadow(0px 0px 1px);
}

.search {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: #000000;
  width: 24px;
  height: 24px;
  transition: 400ms;
  transform: scale(0.8);
}

.search-close {
  position: absolute;
  right: 0;
  width: 25px;
  height: 100%;
  cursor: pointer;
}
.search-close::before {
  content: "";
  position: absolute;
  bottom: -7px;
  right: -3px;
  width: 0;
  height: 10px;
  border: 1px solid #ffffff;
  transform: rotate(-45deg);
  transition: 400ms;
  cursor: pointer;
}
.search-close::after {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 0px;
  width: 0;
  height: 16px;
  border: 1px solid #ffffff;
  transform: rotate(45deg);
  transition: 350ms;
  opacity: 0;
  cursor: pointer;
}

.search-anime-inp {
  width: 250px;
  height: 30px;
  top: 50px;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 45px;
  transform: scale(1);
}

.search-anime-close {
  width: 21px;
  height: 100%;
}
.search-anime-close::before {
  bottom: 4px;
  right: 12px;
  height: 16px;
}
.search-anime-close::after {
  opacity: 1;
  bottom: 4px;
  right: 11px;
}

.search-btn {
  position: absolute;
  right: 20px;
  top: 1px;
  width: 24px;
  transition: 400ms;
  transform: scale(0.1);
  opacity: 0;
  cursor: pointer;
}

.search-btn-active {
  opacity: 1;
  transform: scale(1);
}

.search-inp {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
}

.search__films__cont {
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #1e1e1e;
  width: 100%;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 60vh;
}
.search__films__cont .movie {
  display: flex;
  background-color: #000000;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #000000;
  overflow: hidden;
  transition: 150ms;
  opacity: 0.6;
  cursor: pointer;
}
.search__films__cont .movie:hover {
  transform: scale(1.05);
  opacity: 1;
}
.search__films__cont .movie:active {
  border: 1px solid #ffffff;
}
.search__films__cont .watch__now {
  width: 30%;
}
.search__films__cont .watch__now img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search__films__cont .movie-info {
  width: 70%;
  padding: 5px 5px 5px 10px;
  font-size: 11px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.move_info_cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  min-width: 340px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 120px;
  margin-left: 3%;
  color: white;
  z-index: 15;
}
.move_info_cont .move_info_cont_title {
  margin-bottom: 25px;
  font-size: 25px;
  transition: 400ms;
  transform: translateX(-30px);
  opacity: 0;
}
.move_info_cont .move_info_cont_date {
  margin-bottom: 10px;
  font-size: 16px;
  transition: 600ms;
  transform: translateX(-30px);
  opacity: 0;
}
.move_info_cont .move_info_cont_reyting {
  margin-bottom: 35px;
  transition: 800ms;
  transform: translateX(-30px);
  opacity: 0;
}
.move_info_cont .move_info_cont_row {
  display: flex;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 700;
  transition: 1s;
  transform: translateX(-30px);
  opacity: 0;
}
.move_info_cont .move_info_cont_play {
  display: flex;
  align-items: center;
  background-color: #ffb700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  margin-right: 16px;
  transition: 400ms;
  cursor: pointer;
}
.move_info_cont .move_info_cont_play:hover {
  background-color: #ff8300;
}
.move_info_cont .move_info_cont_play img {
  width: 22px;
  margin-right: 5px;
}
.move_info_cont .reyting_stars {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #6b6a6a;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.move_info_cont .yellow {
  background-color: yellow;
}
.move_info_cont .move_info_cont_date_anim {
  transform: translateX(0);
  opacity: 1;
}

.head-swiper-container {
  position: relative;
  width: 100%;
  height: 135%;
  overflow: hidden;
  z-index: 5;
}

.head-swiper-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  margin-bottom: 75px;
}

.swiper-button-prev-unique,
.swiper-button-next-unique {
  position: absolute;
  bottom: 20px;
  z-index: 15;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.swiper-button-prev-unique::before,
.swiper-button-next-unique::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  -webkit-clip-path: polygon(30% 0, 100% 50%, 30% 100%, 0% 100%, 70% 50%, 0% 0%);
          clip-path: polygon(30% 0, 100% 50%, 30% 100%, 0% 100%, 70% 50%, 0% 0%);
  transition: 250ms;
  background-color: #ffb700;
  opacity: 0.6;
}

.swiper-button-next-unique {
  right: 20%;
}
.swiper-button-next-unique:hover::before {
  opacity: 1;
}
.swiper-button-next-unique:hover {
  filter: drop-shadow(0 0 2px #ffb700);
}
.swiper-button-next-unique:active {
  filter: drop-shadow(0 0 5px #ffb700);
}

.swiper-button-prev-unique {
  left: 20%;
  transform: rotate(180deg);
}
.swiper-button-prev-unique:hover::before {
  opacity: 1;
}
.swiper-button-prev-unique:hover {
  filter: drop-shadow(0 0 2px #ffb700);
}
.swiper-button-prev-unique:active {
  filter: drop-shadow(0 0 5px #ffb700);
}

.head-swiper-wrapper-play-img-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1%;
  left: -1%;
  width: 102%;
  height: 102%;
  transition: 350ms;
}
.head-swiper-wrapper-play-img-cont img {
  position: absolute;
  width: 35%;
  transform: scale(0.3);
  transition: 350ms;
  opacity: 0;
}

.head-swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 130px;
  height: 195px;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 13px black);
  cursor: pointer;
}
.head-swiper-slide:hover > .head-swiper-wrapper-play-img-cont {
  background-color: rgba(0, 0, 0, 0.6901960784);
}
.head-swiper-slide:hover > .head-swiper-wrapper-play-img-cont img {
  opacity: 1;
  transform: scale(1.1);
}
.head-swiper-slide:active > .head-swiper-wrapper-play-img-cont > img {
  opacity: 1;
  transform: scale(1.2);
}

.head-swiper-pagination {
  height: 30px;
  bottom: 0;
}
.head-swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.4;
}
.head-swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
  transform: scale(1.7);
}
.head-swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 6px;
  height: 10px;
  background-color: #ffb700;
}
.head-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffb700;
}
.head-swiper-pagination .swiper-pagination-bullet-active {
  transform: scale(1.4);
  transition: 350ms;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 5% 5% 0 5%;
}
.head .head__col1 .head__col1__logo {
  position: relative;
  bottom: 10px;
  transition: 250ms;
  cursor: pointer;
}
.head .head__col1 .head__col1__logo:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px white;
}
.head .head__col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__cont {
  display: flex;
  align-items: stretch;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  margin-bottom: 10px;
}
.search__cont .searchInp {
  border: none;
  outline: none;
  background: transparent;
  padding: 6px 0px 6px 8px;
  color: #b7b7b7;
}
.search__cont .search__img {
  cursor: pointer;
  padding: 3px 6px;
  width: 30px;
  transition: 150ms;
  display: block;
  image-rendering: pixelated;
}
.search__cont .search__img:hover {
  transform: rotate(-10deg);
}
.search__cont .search__img:active {
  transform: rotate(-10deg) scale(0.9);
}

.head__bottom__slider {
  background-color: #1e1e1e;
}
.head__bottom__slider .info h5 {
  color: #b7b7b7;
}

.about_film {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
  width: 100%;
  padding-bottom: 60px;
  color: #ffffff;
}
.about_film::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7882352941);
  background: linear-gradient(180deg, rgb(19, 19, 19) 0%, rgba(0, 0, 0, 0.7008053221) 10%, rgba(0, 0, 0, 0.8016456583) 90%, rgb(19, 19, 19) 100%);
  z-index: 1;
}

.about_film_cont {
  display: flex;
  width: 70%;
  max-width: 1200px;
  z-index: 4;
}

.about_film_poster {
  width: 40%;
  height: 100%;
  background-size: cover;
}

.about_film_info {
  width: 60%;
  height: 100%;
  padding-left: 5%;
  padding-top: 20px;
}
.about_film_info p {
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_film_info_title {
  z-index: 4;
  padding: 30px 0;
  font-size: 30px;
}

.reclam_player {
  width: 65%;
  height: 350px;
  background-color: #000000;
  margin: 80px auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reclam_player .reclam_player_baner {
  text-align: center;
}

.Privacy-Polic-cont {
  width: 90%;
  margin: 50px auto;
}
.Privacy-Polic-cont p {
  color: #ffffff;
  margin-bottom: 20px;
}
.Privacy-Polic-cont ul {
  color: #ffffff;
}

.reyting_stars {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #6b6a6a;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.all-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 80px 30px;
  background-color: #000000;
}
.all-info .logo {
  padding: 0;
  color: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
}
.all-info .navigation a {
  color: #b7b7b7;
  margin-left: 5px;
  transition: 100ms;
  margin-left: 5px;
  padding-bottom: 2px;
}
.all-info .navigation a:hover {
  border-bottom: 1px solid;
  color: #ffffff;
}/*# sourceMappingURL=watchMovie.css.map */