@font-face {
    font-family: 'Tsukimi Rounded';
    src: url('TsukimiRounded-Light.woff2') format('woff2'),
        url('TsukimiRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tsukimi Rounded';
    src: url('TsukimiRounded-Medium.woff2') format('woff2'),
        url('TsukimiRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tsukimi Rounded';
    src: url('TsukimiRounded-Regular.woff2') format('woff2'),
        url('TsukimiRounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tsukimi Rounded';
    src: url('TsukimiRounded-Bold.woff2') format('woff2'),
        url('TsukimiRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tsukimi Rounded';
    src: url('TsukimiRounded-SemiBold.woff2') format('woff2'),
        url('TsukimiRounded-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

